.header {
    height: 8%;
    width: 100%;
    background-color:#1D2D44;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    padding: 20px;
    box-sizing: border-box;
    color:aliceblue;
}